<?xml version="1.0" encoding="utf-8"?>
<ApplicationInsights xmlns="http://schemas.microsoft.com/ApplicationInsights/2013/Settings">
  <!-- This key is for Application Insights resource 'PlayStation-App' in resource group 'Default-ApplicationInsights-CentralUS' -->
  <InstrumentationKey>449dbde2-e7cb-49ba-892a-e2cc9603e9a6</InstrumentationKey>
</ApplicationInsights>