<?xml version="1.0" encoding="utf-8"?>
<ApplicationInsights xmlns="http://schemas.microsoft.com/ApplicationInsights/2013/Settings">
  <!-- This key is for Application Insights resource 'PlayStation-App' in resource group 'Default-ApplicationInsights-CentralUS' -->
  <InstrumentationKey>4463023b-c2e5-41a1-a38d-a2f814cf3c64</InstrumentationKey>
</ApplicationInsights>