<?xml version="1.0" encoding="utf-8"?>
<ApplicationInsights xmlns="http://schemas.microsoft.com/ApplicationInsights/2013/Settings">
  <!-- このキーはリソース グループ 'Default-ApplicationInsights-CentralUS' の Application Insights のリソース 'PlayStation-App' に対応するものです -->
  <InstrumentationKey>449dbde2-e7cb-49ba-892a-e2cc9603e9a6</InstrumentationKey>
</ApplicationInsights>